<% include ./header.ejs %>
<div class="col-md-offset-2 col-md-8">
    <!-- include comes here-->


    <!--Show only if authorised-->

    <div class="chat-container">

        <div class="chatBox">

        </div>

        <form action="#" id="form-chat">
                <% if(user) { %>
                <h4>
                    <%= user.username %> says, </h4>
            <textarea id="msg" required class="form-control" maxlength="200" rows="3" placeholder="Say something"
                      name="text"></textarea>
            <input class="btn submit-btn pull-right" type="submit" value="Send!"/>
                <%}else{%>
                    <h1 style="text-align: center   "> Login First !</h1>
                <%}%>
        </form>


    </div>
    <script>


    </script>
    </body>
    </html>