<%include ./header.ejs%>
<form class="form-auth" action="/auth/signup" method="post">
    <h2>Register</h2>
    <p class="text-warning">
        <%= error_message%>
    </p>
    <input type="text" placeholder="username" class="form-control" name="username"><br>
    <input type="password" placeholder="password" class="form-control" name="password"><br>
    <input type="submit" value="Register" class="btn btn-primary" />
</form>
